<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<%= @user.first_name%> <%= @user.last_name%>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<%= form_for @user do |f| %>
							<div class="col-md-3 col-lg-3 " align="center"> 
								<!-- <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> -->

								<%= image_tag(@user.image_url(:passport).to_s) %>

								<!-- <a style="margin-top: 5px" data-original-title="Upload picture" data-toggle="tooltip" type="button" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-camera"></i> Upload Picture</a> -->
							</div>

							<div class="col-md-9 col-lg-9 "> 
								
									<div class="row custom-table-row">
									  <div class="col-md-4">
									  	<%= f.label :first_name%>:
									  </div>
									  <div class="col-md-8">
									  	<%= f.text_field :first_name %>
									  </div>
									</div>

									<div class="row custom-table-row">
									  <div class="col-md-4">
									  	<%= f.label :last_name %>:
									  </div>
									  <div class="col-md-8">
									  	<%= f.text_field :last_name %>
									  </div>
									</div>

									<div class="row custom-table-row">
									  <div class="col-md-4">
									  	<%= f.label :email %>:
									  </div>
									  <div class="col-md-8">
									  	<%= f.text_field :email %>
									  </div>
									</div>

									<div class="row custom-table-row">
									  <div class="col-md-4">
									  	<%= f.label :address %>:
									  </div>
									  <div class="col-md-8">
										<%= f.text_field :address %>
									  </div>
									</div>

									<div class="row custom-table-row">
									  <div class="col-md-4">
									  	<%= f.label :phone %>:
									  </div>
									  <div class="col-md-8">
									  	<%= f.text_field :phone %>
									  </div>
									</div>

									<div class="row custom-table-row">
										  <div class="col-md-4">
										  	<%= f.label "Upload Image" %>:
										  </div>
										  <div class="col-md-8">
										  	<%= f.file_field :image %>
										  </div>
									</div>

									<div class="row custom-table-row">
									  <div class="col-md-4">
									  	<%= f.submit 'Update User', class: "btn btn-sm btn-primary"%>
									  </div>
									  <div class="col-md-8">
									  	<%= link_to 'Cancel', user_path(@user), class: "btn btn-sm btn-danger" %>
									  </div>
									</div>
								
								<!-- <table class="table table-user-information">
									<tbody>
										
									</tbody>
								</table> -->
							</div>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
